:root {
  // service color
  --primary: #68625b;
  --secondary: #faf7f4;
  --secondary-border: #f5efe8;

  // Gray
  --gray1: #6a6a6a; // signup-label
  --gray2: #747474; // signup-input-content
  --gray3: #bbbbbb;
  --gray4: #cccccc;
  --gray5: #dedede;
  --gray6: rgba(108, 108, 108, 0.6);
  --gray7: #f2f2f2;
  --gray8: #d3d3d3; // select border

  // white
  --white: #ffffff;

  // black
  --black: #000000;

  // yellow
  --yellow: #ffd704;

  // red
  --red1: #f53d3d;
  --red2: #ffd9d9;

  // Font Family
  --font-family-primary: "Pretendard", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  --font-family-logo: "Bonanova SC", serif;

  /* Font Sizes */
  --font-size-base: 16px;
  --font-size-large: 20px;
  --font-size-small: 14px;
  --font-size-header: 30px;
  --font-size-largelogo: 50px;

  // Font Weights
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
}
